/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    background-color: #F9FAFB;
    color: #1F2937;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  }
}
/* stylelint-enable at-rule-no-unknown */